<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <filter>
        <filter-name>LoginFilter</filter-name>
        <filter-class>filter.LoginFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>LoginFilter</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>
    <servlet>
        <servlet-name>LoginController</servlet-name>
        <servlet-class>controller.LoginController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Home</servlet-name>
        <servlet-class>controller.Home</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>FeedbackController</servlet-name>
        <servlet-class>controller.FeedbackController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PayFineController</servlet-name>
        <servlet-class>controller.PayFineController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>BookshelvesController</servlet-name>
        <servlet-class>controller.BookshelvesController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ReserveOrderController</servlet-name>
        <servlet-class>controller.ReserveOrderController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RenewBookController</servlet-name>
        <servlet-class>controller.RenewBookController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RequestNewBookController</servlet-name>
        <servlet-class>controller.RequestNewBookController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddNewBookController</servlet-name>
        <servlet-class>controller.AddNewBookController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EditBookController</servlet-name>
        <servlet-class>controller.EditBookController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteReserveBookController</servlet-name>
        <servlet-class>controller.DeleteReserveBookController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>LoginController</servlet-name>
        <url-pattern>/LoginController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Home</servlet-name>
        <url-pattern>/Home</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>FeedbackController</servlet-name>
        <url-pattern>/FeedbackController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PayFineController</servlet-name>
        <url-pattern>/PayFineController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>BookshelvesController</servlet-name>
        <url-pattern>/BookshelvesController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ReserveOrderController</servlet-name>
        <url-pattern>/ReserveOrderController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RenewBookController</servlet-name>
        <url-pattern>/RenewBookController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RequestNewBookController</servlet-name>
        <url-pattern>/RequestNewBookController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddNewBookController</servlet-name>
        <url-pattern>/AddNewBookController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EditBookController</servlet-name>
        <url-pattern>/EditBookController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteReserveBookController</servlet-name>
        <url-pattern>/DeleteReserveBookController</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>30</session-timeout>
    </session-config>
</web-app>
